<div class="form-div">
  <mat-card class="form-div card-div">
    <mat-card-header>
      <h5>Cadastro de Imóvel</h5>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <p>
          <mat-form-field class="input-div spacing-form">
            <mat-label>Tipo de Imóvel</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="apartamento">Apartamento</mat-option>
              <mat-option value="casa">Casa</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input-div">
            <mat-label>Rua</mat-label>
            <input
              matInput
              placeholder="Avenida Afonso Pena"
              formControlName="rua"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-div spacing-form">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="50" formControlName="numero" />
          </mat-form-field>
          <mat-form-field class="input-div">
            <mat-label>Complemento</mat-label>
            <input
              matInput
              placeholder="apartamento 1001"
              formControlName="complemento"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-div spacing-form">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Centro" formControlName="bairro" />
          </mat-form-field>
          <mat-form-field class="input-div">
            <mat-label>Cidade</mat-label>
            <input
              matInput
              placeholder="Belo Horizonte"
              formControlName="cidade"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-div spacing-form">
            <mat-label>Estado</mat-label>
            <input
              matInput
              placeholder="UF"
              #uf
              formControlName="uf"
              maxlength="2"
            />
            <mat-hint align="end">{{ uf.value.length }} / 2</mat-hint>
          </mat-form-field>
          <mat-form-field class="input-div">
            <mat-label>CEP</mat-label>
            <input
              matInput
              placeholder="00000000"
              formControlName="cep"
              (change)="changeCep()"
              maxlength="8"
              #cep
            />
            <mat-hint align="end"
              >{{ cep.value.length > 8 ? 8 : cep.value.length }} / 8</mat-hint
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-div spacing-form">
            <mat-label>Valor</mat-label>
            <input matInput placeholder="1300" formControlName="valor" />
          </mat-form-field>
          <mat-form-field class="input-div">
            <mat-label>Condominio</mat-label>
            <input matInput placeholder="600" formControlName="condominio" />
          </mat-form-field>
        </p>
        <div class="form-div">
          <p>
            <button
              mat-flat-button
              color="warn"
              class="spacing-form"
              (click)="returnToGrid()"
            >
              Voltar
            </button>
            <button mat-flat-button color="primary" (click)="insertRealty()">
              Salvar
            </button>
          </p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
